{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>

          <style type="text/css" scoped>
            .mauticform-error { margin-bottom: 10px; color: red; }
            .mauticform-message { margin-bottom: 10px; color: green; }
            .mauticform-required .mauticform-label:after { color: #e32; content: " *"; display: inline; }
            .mauticform-helpmessage { display: block; font-size: 0.9em; margin-bottom: 3px; }
            .mauticform-errormsg { display: block; color: red; margin-top: 2px; }
            .mautiform-field-hidden { display:none }
          </style>
          <!---->
          <div id="mauticform_wrapper_nokwarecontactform" class="site-contact-form">
              <form autocomplete="false" role="form" method="post" action="https://mautic.nokware.net/form/submit?formId=1" id="mauticform_nokwarecontactform" data-mautic-form="nokwarecontactform" enctype="multipart/form-data" rel="nofollow">
                  <div class="mauticform-error" id="mauticform_nokwarecontactform_error"></div>
                  <div class="mauticform-message" id="mauticform_nokwarecontactform_message"></div>
                  <div class="mauticform-innerform">
                      
                    <div class="row" data-mautic-form-page="1">

                      <div id="mauticform_nokwarecontactform_firstname" class="mauticform-row mauticform-text mauticform-field-1 mauticform-required col-lg-6" data-validate="firstname" data-validation-type="text">
                          <input id="mauticform_input_nokwarecontactform_firstname" name="mauticform[firstname]" value="" placeholder="First Name" class="mauticform-input form-control" type="text">
                          <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                      </div>

                      <div id="mauticform_nokwarecontactform_lastname" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required col-lg-6" data-validate="lastname" data-validation-type="text">
                          <input id="mauticform_input_nokwarecontactform_lastname" name="mauticform[lastname]" value="" placeholder="Last Name" class="mauticform-input form-control" type="text">
                          <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                      </div>

                      <div id="mauticform_nokwarecontactform_email" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required col-lg-6" data-validate="email" data-validation-type="email">
                          <input id="mauticform_input_nokwarecontactform_email" name="mauticform[email]" value="" placeholder="Email" class="mauticform-input form-control" type="email">
                          <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                      </div>

                      <div class="col-lg-6">
                        <div id="mauticform_nokwarecontactform_projecttype" class="mauticform-row mauticform-select mauticform-field-4 select-wrapper">
                            <select id="mauticform_input_nokwarecontactform_projecttype" name="mauticform[projecttype]" value="" placeholder="Project Type" class="mauticform-selectbox form-control">
                              <option value="" selected disabled hidden>Project Type</option>                    
                              <option value="appdesign">Application Design</option>                    
                              <option value="consultation">Consultation</option>                    
                              <option value="bitcoinpayment">Bitcoin Payment Server</option>                    
                              <option value="server">Server Build</option>                    
                              <option value="webdesign">Web Design</option>                    
                              <option value="mailserver">Mail Server</option>                    
                              <option value="degoogle">De-Google My Data</option>
                            </select>
                            <span class="mauticform-errormsg" style="display: none;"></span>
                        </div>
                      </div>

                      <div id="mauticform_nokwarecontactform_aboutproject" class="mauticform-row mauticform-text mauticform-field-5 mauticform-required col-12" data-validate="aboutproject" data-validation-type="textarea">
                          <textarea id="mauticform_input_nokwarecontactform_aboutproject" name="mauticform[aboutproject]" class="mauticform-textarea form-control" placeholder="About the project"></textarea>
                          <span class="mauticform-errormsg" style="display: none;">This is required.</span>
                      </div>

                      <div id="mauticform_nokwarecontactform_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-6 col-12">
                          <button type="submit" name="mauticform[submit]" id="mauticform_input_nokwarecontactform_submit" value="" class="mauticform-button btn btn-primary">Send Message</button>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="mauticform[formId]" id="mauticform_nokwarecontactform_id" value="1">
                  <input type="hidden" name="mauticform[return]" id="mauticform_nokwarecontactform_return" value="">
                  <input type="hidden" name="mauticform[formName]" id="mauticform_nokwarecontactform_name" value="nokwarecontactform">
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
